NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="qualified">
	<!-- Root -->
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NationalPark" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>

							<!-- Phone Number(s) -->
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

							<!-- Address -->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										
										<!-- Address elements -->
										<xs:element name="Number" type="xs:integer"/>
										<xs:element name="Street" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="xs:string"/>
										<xs:element name="Zip" type="xs:string"/>
										
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>

						<!-- Optional Attribute -->
						<xs:attribute name="rating" type="xs:decimal" use="optional"/>
						
						<!-- Required Attribute-->					
						<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>